<div id="form">
    <mat-form-field class="campo">
        <h3>Nome:</h3>
        <input matInput [(ngModel)]="newContato.nome" placeholder="Digite o nome do novo Contato">
    </mat-form-field>

    <mat-form-field class="campo">
        <h3>Número:</h3>
        <input matInput [(ngModel)]="newContato.numero" placeholder="Digite o número do novo Contato">
    </mat-form-field>

    <mat-form-field class="campo">
        <h3>Descrição:</h3>
        <textarea matInput [(ngModel)]="newContato.descricao"
            placeholder="Escreva uma pequena descrição sobre seu novo contato"></textarea>
    </mat-form-field>

    <button class="mat-button" mat-mini-fab aria-label="Cadastrar" (click)="create()">
        <mat-icon fontIcon="add">+</mat-icon>
    </button>
    <div id="erro">
        <h3>{{erro}}</h3>
    </div>

</div>
